<% provide(:title, 'All users') %>
<h1>All users</h1>

<ul class="users">
  <% @users.each do |user| %>
      <%= render user %> <!-- 'render @users' without etaration through @users would work too but I don't get it yet so I will leave it like this -->
  <% end %>
</ul>
<%= will_paginate %>